# Node modules and log files
frontend/.env
frontend/dist
frontend/node_modules
frontend/npm-debug.log  
frontend/__pycache__
node_modules/
npm-debug.log
*.log

# Python virtual environment
venv/
backend/.venv
__pycache__/

# Environment variables
.env
.env.prod

# Database
*.sqlite3
*.db
*.sql

*.dump
backend/nyse_full_tickers.json
backend/skipped_companies.log

# Cached assets
backend/static/logos/
